#containerBio > .inner {
    padding: 6rem 6rem;
    width: 100%;
    max-width: 65rem;
}
 
#containerBio {
    display: flex;
    width: 100%;
    width: 100vw;
    min-height: 40rem;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    background-attachment: fixed;
    border-style: solid;
    border-color: #FAFF00;
    border-top-width: 10px;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20512%20512%22%20width%3D%22512%22%20height%3D%22512%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cfilter%20id%3D%22noise%22%3E%3CfeTurbulence%20type%3D%22fractalNoise%22%20baseFrequency%3D%220.875%22%20result%3D%22noise%22%20%2F%3E%3CfeColorMatrix%20type%3D%22matrix%22%20values%3D%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200.46875%200%22%20%2F%3E%3C%2Ffilter%3E%3Crect%20filter%3D%22url%28%23noise%29%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22512%22%20height%3D%22512%22%20fill%3D%22transparent%22%20opacity%3D%221%22%20%2F%3E%3C%2Fsvg%3E'), linear-gradient(to top, rgba(43,50,94,0.412), rgba(43,50,94,0.412)), url('../images/container03.jpg?v40123277835751');
    background-size: cover, auto;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    padding: 2em 0;
}
/*
#containerBio.columns > .inner {
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: inline-flex;
    -moz-align-items: flex-start;
    -webkit-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
}*/
/*
#containerBio.columns > .inner > * {
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
    max-width: 100%;
    padding: 0 0 0 0rem;
}*/

.glpspan {
    color: #f9b930;
}


div.afterSpacer {
    background: rgba(49, 52, 68, 0.1);
    margin: 0 7rem;
    padding: 0 5rem;
    color: white;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.firstalbumtitle{
    align-content: center;
    align-items: center;
    vertical-align: bottom;
    display: flex;
    flex-direction: column;
    /*flex-flow: wrap;*/
    justify-content: center;
    text-align: center;
    word-wrap: break-word;
    /*width: 350px;*/
    max-width: 550px;
}

img.firstalbum {
    margin-top: 50px;
    width: 500px;
    display: inline-block;
}

.oldAlbumText {
    margin-left: 1em;
    margin-right: 1em;
    padding-left: 6em;
    padding-right: 6em;
}
.firstalbumHeader {
    display: flex;
    justify-content: space-evenly;
    position: relative;

}

@media (min-width: 2400px) {
    #containerBio {
        min-height: 50vh;
        padding: 4em 0;
    }
    img.firstalbum {
        margin-top: 50px;
        width: 700px;
        display: inline-block;
    }
    
    .oldAlbumText {
        margin-left: 1em;
        margin-right: 1em;
        padding-left: 6em;
        padding-right: 6em;
    }
}
@media (max-width: 1680px) {
    html {
        font-size: 13pt;
    }
}

@media (max-width: 1280px) {
    html {
        font-size: 13pt;
    }
    #containerBio {
        background-attachment: scroll;
    }
}

@media (max-width: 980px) {
    html {
        font-size: 11pt;
    }
    img.firstalbum {
    margin-top: 50px;
    width: 350px;
    display: inline-block;
    padding: 0 2em 0 1em;
    }
    .firstalbumHeader {
        display: flex;
        justify-content: center!important;
        flex-direction: column!important;
        align-items: center!important;    
    }
    .oldAlbumText {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
}
@media (max-width: 736px) {
    html {
        font-size: 11pt;
    }

   
/*
    #containerBio > .inner {
        padding: 3.5rem 2rem;
        max-width: 100%;
    }

    #containerBio {
        min-height: 30rem;
    }

    #containerBio.default > .inner > * {
        margin-top: 1.75rem;
        margin-bottom: 1.75rem;
    }
*/


}

@media (max-width: 480px) {
    
/*
    #containerBio.columns > .inner > * > * {
        margin-top: 1.53125rem;
        margin-bottom: 1.53125rem;
    }

    div.afterSpacer {
        background: rgba(49, 52, 68, 0.3);
        margin: 2rem 1rem;
        padding: 2rem;
        color: white;
    }*/
    img.firstalbum {
        margin-top: 50px;
        width: 325px;
        display: flex;
        padding: 0 10em 0;
    }

    .firstalbumHeader {
        display: flex;
        justify-content: center!important;
        flex-direction: column!important;
        position: relative;
        
        }
        .firstalbumtitle{
            align-content: center;
            align-items: center;
            /*vertical-align: bottom;*/
            display: flex;
            flex-direction: column;
            /*flex-flow: wrap;*/
            justify-content: center;
            text-align: center;
            word-wrap: break-word;
            width: 350px;
            max-width: 375px;
            
        }
        .oldAlbumText {
            width: 350px;
            margin-left: 1em;
            margin-right: 1em;
            padding-left: 6em;
            padding-right: 6em;
        }
    
}
@media (max-width: 360px) {
  
    h1.style1, /*h2.style1,*/ h3.style1, p.style1 {
        font-size: 2em;
    }
    h2.style1 {
        margin-bottom: 1rem;
        color: #7c795d;
        font-size: 45px;
        font-weight: normal;
        line-height: 48px;
        margin: 0;
    }

    h1.style2, h2.style2, h3.style2 /*p.style2*/ {
        font-size: 1em;
    }

    p.style2 {
        color: white;
        font-size: 18px;
        line-height: 32px;
        margin: 0 0 24px;
    }

    
    .buttons.style1 {
        width: calc(100% + 1.3125rem);
        margin-left: -0.65625rem;
    }

    .buttons.style1 li {
        max-width: calc(100% - 1.3125rem);
        margin: 0.65625rem;
    }
/*
    #containerBio > .inner {
        padding: 2.625rem 1.5rem;
    }

    #containerBio {
        min-height: 20rem;
    }

    #containerBio.default > .inner > * {
        margin-top: 1.3125rem;
        margin-bottom: 1.3125rem;
    }

    #containerBio.columns > .inner > * > * {
        margin-top: 1.3125rem;
        margin-bottom: 1.3125rem;
    }
*/

}
