html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block;
}

body {
  line-height: 1;
}

ol,ul {
  list-style: none;
}

blockquote,q {
  quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none
}

mark {
  background-color: transparent;
  color: inherit
}

input::-moz-focus-inner {
  border: 0;
  padding: 0
}

input[type="text"],input[type="email"],select,textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  line-height: 1.0;
  word-wrap: break-word;
  overflow-x: hidden;
  background-color: #272936;
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20512%20512%22%20width%3D%22512%22%20height%3D%22512%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cfilter%20id%3D%22noise%22%3E%3CfeTurbulence%20type%3D%22fractalNoise%22%20baseFrequency%3D%220.875%22%20result%3D%22noise%22%20%2F%3E%3CfeColorMatrix%20type%3D%22matrix%22%20values%3D%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200.46875%200%22%20%2F%3E%3C%2Ffilter%3E%3Crect%20filter%3D%22url%28%23noise%29%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22512%22%20height%3D%22512%22%20fill%3D%22transparent%22%20opacity%3D%221%22%20%2F%3E%3C%2Fsvg%3E');
  background-size: 512px;
  background-position: center;
  background-repeat: repeat;
}

u {
  text-decoration: underline;
}

strong {
  color: inherit;
  font-weight: bolder;
}

em {
  font-style: italic;
}

code {
  font-family: 'Lucida Console', 'Courier New', monospace;
  font-weight: normal;
  text-indent: 0;
  letter-spacing: 0;
  font-size: 0.9em;
  margin: 0 0.25em;
  padding: 0.25em 0.5em;
  background-color: rgba(144,144,144,0.25);
  border-radius: 0.25em;
}

mark {
  background-color: rgba(144,144,144,0.25);
}

a {
  -moz-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
  -webkit-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
  -ms-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
  transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
  color: inherit;
  text-decoration: underline;
}

s {
  text-decoration: line-through;
}

html {
  font-size: 18pt;
}

#wrapper {
  -webkit-overflow-scrolling: touch;
  display: flex;
  /*-moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;*/
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  min-height: 100vh;
  /*width: 100vw;*/
  position: relative;
  z-index: 2;
  overflow: hidden;
}

#main {
  display: flex;
  position: relative;
  max-width: 100%;
  z-index: 1;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  text-align: left;
  -moz-transition: opacity 1s ease-in-out 0s;
  -webkit-transition: opacity 1s ease-in-out 0s;
  -ms-transition: opacity 1s ease-in-out 0s;
  transition: opacity 1s ease-in-out 0s;
}
